<div class="form-container">
    <h1 id="edit-form-title"></h1>

    <div class='input-row'>
        <h2>Amount:</h2>
        <div class='input-container'>
            <input id='amount' type='text' placeholder='0.00' />
        </div>
    </div>

    <div class='input-row'>
        <h2>Due Date:</h2>
        <div class='input-container'>
            <input id='duedate' type='text' placeholder='MM/DD/YYYY' />
        </div>
    </div>

    <h2><span id='status' class='status error'></span></h2>
    <button id="submit-button">Submit</button>
</div>