<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>88da20af-b7e2-49ef-a2ef-7c99ac0cd283</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>http://mr-badass/MSDeployAgentService</MSDeployServiceURL>
    <DeployIisAppPath>BillsApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>mr-badass\jerro</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
  </PropertyGroup>
  <Target Name="PrePublish" BeforeTargets="BeforePublish">
    <Exec Command="powershell.exe -ExecutionPolicy Bypass -File &quot;$(ProjectDir)Scripts\RemoteWebsiteControl.ps1&quot; -Action Stop" />
  </Target>
  <Target Name="PostPublish" AfterTargets="AfterPublish">
    <Exec Command="powershell.exe -ExecutionPolicy Bypass -File &quot;$(ProjectDir)Scripts\RemoteWebsiteControl.ps1&quot; -Action Start" />
  </Target>
</Project>