<h1>The Bills</h1>
<h2>Account Balance: <span id="balance"></span></h2>
<h2>Total Due: <span id="billtotal"></span></h2>
<h2>Expected Income: <span id="expected-income"></span></h2>
<h2>Actual Income: <span id="actual-income"></span></h2>
<h2>Remaining: <span id="remain"></span></h2>
<h3>Last updated <span id="updated"></span></h3>
<fieldset class="double">
    <legend>Click a button below to view an account or make a payment</legend>
    <table id="billsTable">
        <col />
        <thead />
        <tbody />
    </table>
</fieldset>